  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout2}">
  	  
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchBy = $("#searchByEmail").val();
            var searchQuery = $("#searchQueryMember").val();

            location.href="/admin/memberManage/" + "&searchByEmail=" + searchByEmail
            + "&searchQueryMember=" + searchQueryMember;
        }
        
    </script>
</th:block>

<!-- css -->
<th:block layout:fragment="css">
	<style>
		@font-face {
			font-family: 'Pretendard';
			font-weight: 300;
			font-display: swap;
			src: local('Pretendard Light'), url('./woff2/Pretendard-Light.woff2') format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
		}
		#content {
			font-family: 'Pretendard';
			font-weight: 300;
			width: 75%;
			margin: 0 auto;
		}
		#content > h4 {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 40px;
		}
		.card {
			clear: both;
		}
		.table-responsive {
			margin: 20px;
		}
		.table > thead > tr {
			text-align: center;
		}
	</style>
</th:block>

<!-- content -->
<div layout:fragment="content" id="content">
  <h4>회원관리</h4>
	<!-- Basic Bootstrap Table -->
    <div class="card">
		<div class="table-responsive text-nowrap">
<!--			<form th:action="@{/admin/memberManage}" role="form" method="get" th:object="${member}">
 			<form th:action="@{'/admin/memberManage/'+${page.number}}" role="form" method="get" th:object="{memberList}"> -->
				<table class="table">
                    <thead>
                      <tr>
                        <th style="width: 5%;">no</th>
                        <th style="width: 65%;">email</th>
                        <th style="width: 15%;">name</th>
                        <!-- <th>가입일</th> -->
                        <th style="width: 15%;">권한</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">                    							
                      <tr th:each="item, status:${member.getContent()}">
                        <td th:text="${item.id}">no</td>
                        <td><a th:href="'/inter/interList/'+${item.email}" th:text="${item.email}"></a></td>
                        <td th:text="${item.name}">name</td>
                        <!-- <td text="">regTime</td> -->
                        <td th:text="${item.role}">role</td>                        
                      </tr><!-- 1row -->                                           
                    </tbody>
                  </table>
   <!-- 페이징 -->
   <div th:with="start=${(member.number/maxPage)*maxPage + 1}, end=(${(member.totalPages == 0) ? 1 : (start + (maxPage - 1) < member.totalPages ? start + (maxPage - 1) : member.totalPages)})">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item prev" th:classappend="${member.number eq 0}?'disabled':''">
          <a th:href="@{'/admin/memberManage/' + ${member.number-1}}" class="page-link">
            <i class="bx bx-chevron-left"></i>
          </a>
        </li>
        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${member.number eq page-1}?'active':''">
          <a th:href="@{'/admin/memberManage/' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
        </li>
        <li class="page-item" th:classappend="${member.number+1 ge member.totalPages}?'disabled':''">
          <a th:href="@{'/admin/memberManage/' + ${member.number+1}}" class="page-link">
            <i class="bx bx-chevron-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
		
			<!-- </form> -->
		</div>
	</div>
</div>  	  
</html>