<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">	
	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- sandstone -->
	<link rel="stylesheet" th:href="@{/css/sandstone.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">

</head>
<body>

	<!-- header -->
	<div layout:replace="~{fragments/header::header}"></div>
	
	<!-- navbar -->
	<nav layout:replace="~{fragments/navbar::navbar}"></nav>
	
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-lg-2">
	      <nav layout:replace="~{fragments/side::side}"></nav>
	    </div>
	    <div class="col-lg-10">
	      <div class="row">
	        <div class="col-lg-12">
	          <div layout:replace="~{fragments/title::title}"></div>
	        </div>
	        <div class="col-lg-12">
	          <div layout:fragment="content"></div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
		
	<!-- footer -->
	<nav layout:replace="~{fragments/footer::footer}"></nav>

</body>
</html>