<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout}">
<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
		var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
		  return new Tooltip(tooltipTriggerEl);
		});
	</script>
</th:block>

<!-- 사용자 css 추가 -->
<th:block layout:fragment="css">
	<style>
		#bookdtl-img { width: 250px; margin: 0 auto; box-shadow: 0 0.25rem 1rem rgb(161 172 184 / 45%);}
		#bookdtl-img img { width: 100%; }
		#category-badge { float: left; }
		#book-title { float: left; }
	</style>
</th:block>

<!-- content -->
<div layout:fragment="content" style="width: 75%; margin: 0 auto">
  <input type="hidden" id="bookIsbn" th:value="${book.isbn}">
  
  <!-- 카테고리 / 제목 / 관심등록 -->
  <div id="bookdtl-header" class="pagination justify-content-center">
    <div id="category-badge">
      <p><span class="badge rounded-pill bg-label-secondary">[[${book.category}]]</span></p>
    </div>
    
    <div id="book-title">
      <h4>[[${book.title}]]</h4>
    </div>
    
    <div id="bookdtl-header addinter">
      <button type="button" class="btn btn-icon rounded-pill me-2 btn-outline-danger btn-sm" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="bottom" data-bs-html="true" 
      		  title="<i class='bx bx-heart bx-xs'></i> <span>관심도서등록</span>">
  		<span class="tf-icons bx bx-heart"></span>
	  </button>
    </div>
  </div>
  
  <!-- 도서이미지 -->
  <div id="bookdtl-img">
    <div>
      <img th:src="${book.bookImgDtoList[0].imgUrl}" th:alt="${book.title}">
    </div>
  </div>
  
  <!-- 상세정보 블럭 : 도서정보 / 상세설명 / 대출정보 -->
  <div id="bookdtl-info">
	<div id="accordionIcon" class="accordion accordion-without-arrow">
	  <div class="accordion-item card active">
	    <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconThree">
	      <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionIcon-3" aria-expanded="true" aria-controls="accordionIcon-3" role="tabpanel">
	        도서정보
	      </button>
	    </h2>
	    <div id="accordionIcon-3" class="accordion-collapse collapse show" data-bs-parent="#accordionIcon">
	      <div class="accordion-body">
		    <div>
		      <dl class="row">
		        <dt class="col-sm-2">ISBN</dt>
		        <dd class="col-sm-10">[[${book.isbn}]]</dd>
		        <dt class="col-sm-2">카테고리</dt>
		        <dd class="col-sm-10">[[${book.category}]]</dd>
		        <dt class="col-sm-2">도서명</dt>
		        <dd class="col-sm-10">[[${book.title}]]</dd>
		        <dt class="col-sm-2">저자</dt>
		        <dd class="col-sm-10">[[${book.author}]]</dd>
		        <dt class="col-sm-2">출판사</dt>
		        <dd class="col-sm-10">[[${book.publisher}]]</dd>
		        <dt class="col-sm-2">출판일자</dt>
		        <dd class="col-sm-10">[[${book.publishedDate}]]</dd>
		      </dl>
		    </div>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item card">
	    <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconOne">
	      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionIcon-1" aria-controls="accordionIcon-1">
	        상세정보
	      </button>
	    </h2>
	
	    <div id="accordionIcon-1" class="accordion-collapse collapse" data-bs-parent="#accordionIcon">
	      <div class="accordion-body">
		    <div>
		      <dl class="row">
		        <dt class="col-sm-2">상세설명</dt>
		        <dd class="col-sm-10">[[${book.bookDetail}]]</dd>
		      </dl>
		    </div>
	      </div>
	    </div>
	  </div>
	
	  <div class="accordion-item card">
	    <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconTwo">
	      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionIcon-2" aria-controls="accordionIcon-2">
	        대출정보
	      </button>
	    </h2>
	    <div id="accordionIcon-2" class="accordion-collapse collapse" data-bs-parent="#accordionIcon">
	      <div class="accordion-body">
		    <div>
		      <dl class="row">
		        <dt class="col-sm-2">열람실</dt>
		        <dd class="col-sm-10">[[${book.place}]]</dd>
		        <dt class="col-sm-2">대출예약가능여부</dt>
		        <dd class="col-sm-10">[[${book.bookStatus}]]</dd>
		        <dt class="col-sm-2">대출예약가능횟수</dt>
		        <dd class="col-sm-10">[[${book.count}]]</dd>
		      </dl>
		    </div>
	      </div>
	    </div>
	  </div>
	</div>
  </div>
  

</div>
</html>