<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout2}">
<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		// 도서등록시 실패메시지를 받아서 도서등록페이지에 재진입시 alert을 통해 실패 사유를 보여줌
		$(document).ready(function() {
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null) {
				alert(errorMessage);
			}
			bindDomEvent();
		});
		
		// 파일 첨부시 이미지파일인지 검사
		function bindDomEvent() {
			$("#formFile").on("change", function() {
				var fileName = $(this).val().split("\\").pop();
				var fileExt = fileName.substring(fileName.lastIndexOf(".") + 1);
				fielExt = fileExt.toLowerCase();
				
				if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
					alert("이미지파일만 등록이 가능합니다.");
					return;
				}
				
				$(this).siblings("#formFile").html(fileName);
			});
		}
		
		// 수정
		function editBook(obj) {
			alert('도서를 수정하시겠습니까?');
		}
	</script>
</th:block>

<!-- 사용자 css 추가 -->
<th:block layout:fragment="css">
	<style>
		@font-face {
			font-family: 'Pretendard';
			font-weight: 300;
			font-display: swap;
			src: local('Pretendard Light'), url('./woff2/Pretendard-Light.woff2') format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
		}
		#content {
			font-family: 'Pretendard';
			font-weight: 300;
			width: 75%;
			margin: 0 auto;
		}
		#content > h4 {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 40px;
		}
		.table-responsive {
			margin: 20px;
		}
    	.fieldError { color: #bd2130; }
    	#book-element {
    		padding-right: 0px;
    	}
    	#defaultFormControlInput {
    		font-family: 'Pretendard';
			font-weight: 300;
    	}
    	#exampleFormControlSelect1 {
    		font-family: 'Pretendard';
			font-weight: 300;
    	}
    	#html5-date-input formFile exampleFormControlTextarea1 {
    		font-family: 'Pretendard';
			font-weight: 300;
    	}
    	#formFile {
    		font-family: 'Pretendard';
			font-weight: 300;
    	}
    	#exampleFormControlTextarea1 {
    		font-family: 'Pretendard';
			font-weight: 300;
    	}
    </style>
</th:block>

<!-- content -->
<div layout:fragment="content" id="content">
  <h4>도서 관리</h4>
  
  <div class="card">
    <div class="table-responsive text-nowrap">
      <form role="form" method="post" enctype="multipart/form-data" th:object="${bookFormDto}">
        <table class="table table-borderless">
          <tbody>
            <tr>
          	  <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">도서명</label></td>
          	  <td colspan='3' id="book-element-content">
          	    <input type="text" th:field="*{title}" class="form-control" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp" />
          	  </td> 
              <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError">Incorrect data</p>
            </tr>
          
            <tr>
              <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">ISBN</label></td>
              <td id="book-element-content">
                <input type="text" th:field="*{isbn}" class="form-control" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp" />
              </td>
              <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">저자</label></td>
              <td id="book-element-content">
                <input type="text" th:field="*{author}" class="form-control" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp" />
          	  </td>
            </tr>
            <p th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="fieldError">Incorrect data</p>
          
            <tr>
              <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">카테고리</label></td>
	          <td id="book-element-content">
	            <select th:field="*{category}" class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
			      <option value="소설">소설</option>
			      <option value="시/에세이">시/에세이</option>
			      <option value="인문">인문</option>
			      <option value="경제/경영">경제/경영</option>
			      <option value="가정/육아">가정/육아</option>
			      <option value="요리">요리</option>
			      <option value="건강">건강</option>
			      <option value="취미/실용/스포츠">취미/실용/스포츠</option>
			      <option value="자기계발">자기계발</option>
			      <option value="컴퓨터/IT">컴퓨터/IT</option>
			      <option value="정치/사회">정치/사회</option>
			      <option value="역사/문화">역사/문화</option>
			      <option value="종교">종교</option>
			      <option value="예술/대중문">예술/대중문화</option>
			      <option value="기술/공학">기술/공학</option>
			      <option value="과학">과학</option>
			      <option value="청소년">청소년</option>
			      <option value="유아">유아</option>
			      <option value="어린이">어린이</option>
  			    </select>
	          </td>
              <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">열람실</label></td>
  	          <td id="book-element-content">
  	            <select th:field="*{place}" class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
			      <option value="1열람실">1열람실</option>
			      <option value="2열람실">2열람실</option>
			      <option value="3열람실">3열람실</option>
			      <option value="4열람실">4열람실</option>
			      <option value="5열람실">5열람실</option>
			      <option value="6열람실">6열람실</option>
			      <option value="7열람실">7열람실</option>
			      <option value="8열람실">8열람실</option>
			      <option value="9열람실">9열람실</option>
  			    </select>
	          </td>
            </tr>
          
            <tr>
	          <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">발행처</label></td>
	          <td id="book-element-content">
	            <input type="text" th:field="*{publisher}" class="form-control" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp" />
	          </td>
	          <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">발행일자</label></td>
	          <td id="book-element-content">
	            <input class="form-control" type="date" value="2022-01-01" id="html5-date-input" th:field="*{publishedDate}"/>
	          </td>
            </tr>
 
	        <tr>
	          <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">예약상태</label></td>
	          <td id="book-element-content">
	            <select th:field="*{bookStatus}" class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
			      <option value="POSSIBLE">예약가능</option>
			      <option value="IMPOSSIBLE">예약불가능</option>
  			    </select>
	          </td>
			  <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">가능횟수</label></td>
	          <td id="book-element-content">
	            <input type="number" th:field="*{count}" class="form-control" id="defaultFormControlInput" placeholder="3" aria-describedby="defaultFormControlHelp" />
	          </td>
	        </tr>
		  
	        <tr>
	          <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">이미지</label></td>
	          <td colspan='3' id="book-element-content">
	            <div th:if="${#lists.isEmpty(bookFormDto.bookImgDtoList)}">
	              <div class="custom-file">
	                <input class="form-control" type="file" id="formFile" name="bookImgFile">
	              </div>
	            </div>
	            <div th:if="${not #lists.isEmpty(bookFormDto.bookImgDtoList)}">
	              <div class="custom-file" th:each="bookImgDto, status: ${bookFormDto.bookImgDtoList}">
	                <input class="form-control" type="file" id="formFile" name="bookImgFile"
	              		   th:text="${not #strings.isEmpty(bookImgDto.oriImgName)} ? ${bookImgDto.oriImgName} : '도서 이미지' + ${status.index+1}">
	                <input type="hidden" name="bookImgIds" th:value="${bookImgDto.id}">
	              </div>
	            </div>
	          </td>
	        </tr>
	      
	        <tr>
	          <td id="book-element"><label class="col-sm-2 col-form-label" for="basic-default-name">상세설명</label></td>
	          <td colspan='3' id="book-element-content">
	            <textarea th:field="*{bookDetail}" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
	          </td>
	        </tr>
          </tbody>
        </table><br>
        
        <div class="button-group" align="center">
          <div th:if="${#strings.isEmpty(bookFormDto.isbn)}">
            <button type="submit" class="btn btn-primary" th:formaction="@{/admin/book/new}">등록</button>
	        <button type="button" class="btn btn-outline-primary" onclick="location.href='/admin/books'">취소</button>
          </div>
          <div th:unless="${#strings.isEmpty(bookFormDto.isbn)}">
            <button type="submit" class="btn btn-primary" th:formaction="@{'/admin/book/' + ${bookFormDto.isbn}}" onclick="editBook(this)">수정</button>
	        <button type="button" class="btn btn-outline-primary" onclick="location.href='/admin/books'">취소</button>
          </div>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </div><br>
    
      </form>
    </div>
  </div>

</div>

</html>