<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout2}">
 <!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/notice/read/" + page + "?searchDateType=" + searchDateType
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }
        
    </script>
</th:block>
<!-- 사용자 css 추가 -->
 <th:block layout:fragment="css">
	<style>
		@font-face {
			font-family: 'Pretendard';
			font-weight: 300;
			font-display: swap;
			src: local('Pretendard Light'), url('./woff2/Pretendard-Light.woff2') format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
		}
		#content {
			font-family: 'Pretendard';
			font-weight: 300;
			width: 75%;
			margin: 0 auto;
		}
		
    </style>
</th:block> 	  
  	  
<div layout:fragment="content" id="content">
	<h4 class="fw-bold py-3 mb-4">공지사항</h4>
	<!-- Basic Bootstrap Table -->
    <div class="card">
<!-- 		<h5 class="card-header">공지사항</h5> -->
		<div class="table-responsive text-nowrap">
			<form th:action="@{'/notice/read/'+${readList.number}}" role="form" method="get" th:object="${readList}">
				<table class="table">
                    <thead>
                      <tr><th style="width:10%;">no</th>
                      <th style="width:35%;">title</th>
                      <th style="width:20%;">writer</th>
                      <th style="width:15%;">date</th></tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    							<!-- list : controller에서 model 객체로 넘겨 받은  -->
                      <tr th:each="item, status:${readList.getContent()}">
                        <td th:text="${item.id}"></td>
                        <td><a th:href="'/notice/view/'+${item.id}" th:text="${item.title}"></a></td>
                        <td th:text="${item.createdBy}"></td>
                        <td th:text="${#temporals.format(item.regTime, 'yyyy-MM-dd')}"></td>
                      </tr><!-- 1row -->                                           
                    </tbody>
                  </table>
                  <!-- 페이징 -->
                  <div th:with="start=${(readList.number/maxPage)*maxPage + 1}, end=(${(readList.totalPages == 0) 
        			? 1 : (start + (maxPage - 1) < readList.totalPages 
        			? start + (maxPage - 1) : readList.totalPages)})" >
        			<nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${readList.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${readList.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${readList.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${readList.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${readList.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>

            </ul>
            </nav>
        </div>
		<!-- 검색  class="form-select form-select-sm form-control id="smallSelect"-->
        <div class="pagination justify-content-center" th:object="${searchDto}" style="width:70%; margin: auto;" align="center">
            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="title">제목</option>
                <option value="createdBy">작성자</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="button" class="btn btn-primary">검색</button>
        </div>
        <br>
			</form>
		</div>
	</div>
		<!--/ Basic Bootstrap Table -->
</div>
</html>
