<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout}">

<div layout:fragment="footer" id="footer">

<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column"
  	   style="font-size: 0.8em">
    <div class="mb-2 mb-md-0">
      <p>© 2022, code by 조하늘 | 최수연 </p>
      <p>※ 본 사이트는 학습 목적 이외의 상업적인 목적으로 이용하지 않습니다.</p>
    </div>
    
    <div>
      <a href="#" target="_blank" class="footer-link me-4">개인정보보호정책</a>
      <a href="#" target="_blank" class="footer-link me-4">웹사이트이용안내</a>
      <a href="#" target="_blank" class="footer-link me-4">이메일무단수집거부</a>
    </div>
  </div>
</footer>

</div>
</html>