<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout}">
  	  
<th:block layout:fragment="css">
    <style></style>
</th:block> 

<div layout:fragment="footer" id="footer" align="center">
	<!-- 
	<div>
	  <button type="button" class="btn btn-link">사이트맵</button>
	  <button type="button" class="btn btn-link disabled">이용약관</button>
	  <button type="button" class="btn btn-link disabled">개인정보처리방침</button>
	  <button type="button" class="btn btn-link disabled">영상정보처리기기방침</button>
	  <button type="button" class="btn btn-link disabled">이메일무단수집거부</button>
	</div>
	-->
	<div id="box">
			<br>
			<br>
	        <p class="box_p">(주)드림도서관 © 2022 KOSTA All rights reserved.</p>
	        <p class="box_p">code by 조하늘|최수연</p>
	        <p class="box_p">(08590) 서울특별시 금천구 가산동 가산디지털1로 70 호서대벤처타워 4층 </p>
	       	<p class="box_p">개인정보보호정책 | 웹사이트이용안내 | 이메일무단수집거부</p>
	        <span class="box_span">※본 사이트는 학습 목적 이외의 상업적인 목적으로 이용하지 않습니다.※</span>
	        <br>
	        <br>
	</div>
</div>
</html>