<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout}">
  	  
<div layout:fragment="header">

	<div class="container-fluid">
	  <div class="row">
	    <div class="col-lg-2">
	      <img src="#" alt="도서관로고"/>
	    </div>
	    <div class="col-lg-2 col-lg-offset-8">
		  <ul class="nav nav-pills">
		    <li class="nav-item">
		      <a class="nav-link" href="#">로그인</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="#">회원가입</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="#">내서재</a>
		    </li>
		  </ul>
	    </div>
	  </div>
	</div>

</div>
</html>