<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  	  layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
	<style>
		@font-face {
			font-family: 'Pretendard';
			font-weight: 300;
			font-display: swap;
			src: local('Pretendard Light'), url('./woff2/Pretendard-Light.woff2') format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
		}
	</style>
</th:block>

<div layout:fragment="header" id="header">

<!-- Navbar main -->
<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-primary" id="layout-navbar">
  <div class="container-fluid">
    
    <!-- Menu 햄버거 (see assets/css/demo/demo.css) -->
    <div class="layout-menu-toggle navbar-nav d-lg-none align-items-lg-center">
      <a class="nav-item nav-link px-0 me-lg-4" href="javascript:void(0)">
        <i class="bx bx-menu bx-sm align-middle"></i>
      </a>
    </div>
    
    <!-- 로고 (see assets/css/demo/demo.css) -->
    <div class="navbar-brand app-brand demo py-0 me-4">
      <a href="/" class="app-brand-link gap-2">
        <span class="app-brand-logo demo">
			<img src="/img/logo.png" alt="logo" height="40" width="40">
		</span>
        <span class="app-brand-text demo menu-text fw-bold">Dream Library</span>
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

	<!-- 로고 우측 영역 -->
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <!-- Divider -->
      <hr class="d-lg-none w-100 my-2" />

 		<!-- <div align="right" th:if="!${session.member eq null}">
			<h4 th:text="|${session.member.name} 님|" style="color:#EEEAD0; display:inline;"></h4>
			<a href="/invalidate" style="color:#ffffff; font-size:16px; padding-right: 20px;">로그아웃</a>
		</div> -->
      <!-- 로그인/회원가입 버튼 -->
      <div class="navbar-nav align-items-lg-center ms-auto" style="font-family: 'Pretendard'; font-weight: 300;">
      	<!-- Divider -->
        <!-- <div class="nav-item d-none d-lg-block text-big fw-light lh-1 opacity-25 me-3 ms-1">|</div> -->
		<div>
			<!-- 로그인 안했을 떄 -->
			<ul class="navbar-nav">
				<li class="nav-item me-2" sec:authorize="isAnonymous()">
					<a href="/member/login" class="nav-link">
					<i class="tf-icons bx bx-user"></i>&nbsp;Login</a>
				</li>
				<li class="nav-item" sec:authorize="isAnonymous()">
					<a href="/member/new" class="nav-link">
					<i class="tf-icons bx bx-group"></i>&nbsp;Join</a>
				</li>
			</ul>
		</div>
		<div>
			<!-- 로그인 했을 떄 -->
			<ul class="navbar-nav">
				<li class="nav-item me-2" sec:authentication="name"></li>
				<li class="nav-item me-2" sec:authorize="isAuthenticated()">
					<a href="/member/logout" class="nav-link">
					<i class="tf-icons bx bx-user"></i>&nbsp;logout</a>
				</li>
			</ul>
		</div>
	</div>
    </div>
  </div>
</nav>
<!-- / Navbar main -->

</div>
</html>