<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  	  layout:decorate="~{layouts/layout}">
  	  
<!-- 

-------------작은 구분선
<li class="menu-header small text-uppercase">
  <span class="menu-header-text">메뉴이름</span>
</li>

-------------소메뉴가 있는 목록
<li class="menu-item">
  <a href="javascript:void(0);" class="menu-link menu-toggle">
    <i class="menu-icon tf-icons bx bx-layout"></i>
    <div data-i18n="Layouts">Membership</div>
  </a>
  <ul class="menu-sub">
    <li class="menu-item">
      <a href="layouts-without-menu.html" class="menu-link">
        <div data-i18n="Without menu">로그인</div>
      </a>
    </li>
  </ul>
</li>

-----------------소메뉴가 없는 목록
<li class="menu-item">
  <a href="cards-basic.html" class="menu-link">
    <i class="menu-icon tf-icons bx bx-collection"></i>
    <div data-i18n="Basic">Cards</div>
  </a>
</li>

-------------------활성화 목록
<li class="menu-item active">
  <a href="index.html" class="menu-link">
    <i class="menu-icon tf-icons bx bx-home-circle"></i>
    <div data-i18n="Analytics">Home</div>
  </a>
</li>

 -->
  	  
<div layout:fragment="menu" id="menu">

<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  <!-- 로고 -->
  <div class="app-brand demo">
    <a href="/" class="app-brand-link">
      <span class="app-brand-logo demo">
		<img src="/img/logo.png" alt="logo" height="40" width="40">
	  </span>
      <span class="app-brand-text demo menu-text fw-bolder">Dream Library</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>
  
  <!-- 메뉴 목록 -->
  <ul class="menu-inner py-1">
  
  	<!-- 홈 -->
	<li class="menu-item active">
	  <a href="index.html" class="menu-link">
	    <i class="menu-icon tf-icons bx bx-home-circle"></i>
	    <div data-i18n="Analytics">Home</div>
	  </a>
	</li>
	
	<!-- 도서관안내 -->
	<li class="menu-item">
	  <a href="javascript:void(0);" class="menu-link menu-toggle">
	    <i class="menu-icon tf-icons bx bx-info-circle"></i>
	    <div data-i18n="Layouts">Info</div>
	  </a>
	  <ul class="menu-sub">
	    <li class="menu-item">
	      <a href="layouts-without-menu.html" class="menu-link">
	        <div data-i18n="Without menu">도서관소개</div>
	      </a>
	    </li>
	    <li class="menu-item">
	      <a href="layouts-without-menu.html" class="menu-link">
	        <div data-i18n="Without menu">이용안내</div>
	      </a>
	    </li>
	  </ul>
	</li>
	
	<!-- 검색 -->
	<li class="menu-header small text-uppercase">
	  <span class="menu-header-text">Search</span>
	</li>
	<li class="menu-item">
	  <a href="cards-basic.html" class="menu-link">
	    <i class="menu-icon tf-icons bx bx-search"></i>
	    <div data-i18n="Basic">통합검색</div>
	  </a>
	</li>
    <li class="menu-item">
	  <a href="javascript:void(0);" class="menu-link menu-toggle">
	    <i class="menu-icon tf-icons bx bx-search-alt"></i>
	    <div data-i18n="Layouts">상세검색</div>
	  </a>
	  <ul class="menu-sub">
	    <li class="menu-item">
	      <a href="layouts-without-menu.html" class="menu-link">
	        <div data-i18n="Without menu">분류별검색</div>
	      </a>
	    </li>
	    <li class="menu-item">
	      <a href="layouts-without-menu.html" class="menu-link">
	        <div data-i18n="Without menu">기간별검색</div>
	      </a>
	    </li>
	  </ul>
	</li>
	
	<!-- 게시판 -->
	<li class="menu-header small text-uppercase">
	  <span class="menu-header-text">post</span>
	</li>
	<li class="menu-item">
	  <a a href="/notice/read" class="menu-link">
	    <i class="menu-icon tf-icons bx bx-clipboard"></i>
	    <div data-i18n="Basic">공지사항</div>
	  </a>
	</li>
	<li class="menu-item">
	  <a href="/post/list" class="menu-link">
	    <i class="menu-icon tf-icons bx bx-chat"></i>
	    <div data-i18n="Basic">회원게시판</div>
	  </a>
	</li>
	
	<!-- 내서재 -->
	<li class="menu-header small text-uppercase">
	  <span class="menu-header-text">my library</span>
	</li>
    <li class="menu-item">
	  <a href="javascript:void(0);" class="menu-link menu-toggle">
	    <i class="menu-icon tf-icons bx bx-library"></i>
	    <div data-i18n="Layouts">내 서재</div>
	  </a>
	  <ul class="menu-sub" sec:authorize="hasAnyAuthority('ROLE_USER')">
	    <li class="menu-item">
	      <a href="/mypage/member" class="menu-link">
	        <div data-i18n="Without menu">내정보</div>
	      </a>
	    </li>
	    <li class="menu-item" >
	      <a href="layouts-without-menu.html" class="menu-link">
	        <div data-i18n="Without menu">관심도서목록</div>
	      </a>
	    </li>
	    <li class="menu-item">
	      <a href="layouts-without-menu.html" class="menu-link">
	        <div data-i18n="Without menu">예약도서목록</div>
	      </a>
	    </li>
	  </ul>
	</li>
	
	<!-- 관리자 -->
	<li class="menu-header small text-uppercase" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
	  <span class="menu-header-text">admin</span>
	</li>
	<li class="menu-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
	  <a href="cards-basic.html" class="menu-link">
	    <i class="menu-icon tf-icons bx bx-user"></i>
	    <div data-i18n="Basic">회원관리</div>
	  </a>
	</li>
	<li class="menu-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
	  <a href="cards-basic.html" class="menu-link">
	    <i class="menu-icon tf-icons bx bx-book"></i>
	    <div data-i18n="Basic">도서관리</div>
	  </a>
	</li>
	<li class="menu-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
	  <a a href="/notice/list" class="menu-link">
	    <i class="menu-icon tf-icons bx bx-clipboard"></i>
	    <div data-i18n="Basic">공지사항관리</div>
	  </a>
	</li>

  </ul>

</aside>
<!-- / Menu -->

</div>
</html>