<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout}">

<div layout:fragment="navbar">

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <div class="container-fluid">
	    <div class="collapse navbar-collapse" id="navbarColor01">
	      <ul class="navbar-nav me-auto">
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">자료검색</a>
	          <div class="dropdown-menu">
	            <a class="dropdown-item" href="#">통합검색</a>
	            <a class="dropdown-item" href="#">분류별검색</a>
	            <a class="dropdown-item" href="#">신착자료검색</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">도서관안내</a>
	          <div class="dropdown-menu">
	            <a class="dropdown-item" href="#">도서관소개</a>
	            <a class="dropdown-item" href="#">이용안내</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">이용자마당</a>
	          <div class="dropdown-menu">
	            <a class="dropdown-item" href="#">회원게시판</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">공지사항</a>
	          <div class="dropdown-menu">
	            <a class="dropdown-item" href="#">공지사항</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">내서재</a>
	          <div class="dropdown-menu">
	            <a class="dropdown-item" href="#">내정보</a>
	            <a class="dropdown-item" href="#">관심도서목록</a>
	            <a class="dropdown-item" href="#">대출예약현황</a>
	            <a class="dropdown-item" href="#">강좌신청현황</a>
	          </div>
	          <!-- 
	          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">내서재</a>
	          <div class="dropdown-menu show" data-bs-popper="static">
	            <a class="dropdown-item" href="#">내정보</a>
	            <a class="dropdown-item" href="#">관심도서목록</a>
	            <a class="dropdown-item" href="#">대출예약현황</a>
	            <a class="dropdown-item" href="#">강좌신청현황</a>
	          </div>
	          -->
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>

</html>