<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout}">

<div layout:fragment="side">
	<div class="list-group">
	  <button type="button" class="btn btn-primary disabled">Navbar Menu</button>
	  <a href="#" class="list-group-item list-group-item-action">menu1</a>
	  <a href="#" class="list-group-item list-group-item-action active">menu2</a>
	  <a href="#" class="list-group-item list-group-item-action">menu3</a>
	  <a href="#" class="list-group-item list-group-item-action">menu4</a>
	</div>
</div>

</html>