<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout}">
  	  
<div layout:fragment="title">
  <div class="row">
    <div class="col-lg-2">
      <h1>Menu Title</h1>
    </div>
    <!-- 
    <div class="col-lg-3 col-lg-offset-7">
      <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#">Main</a></li>
		<li class="breadcrumb-item"><a href="#">Navbar Menu</a></li>
		<li class="breadcrumb-item active">Menu Title</li>
	  </ol>
    </div>
    -->
  </div>
</div>

</html>