<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout}">
<!-- script -->
<script type="text/javascript">
</script>
<div layout:fragment="content">
<form>
  <fieldset>
    <legend>Form</legend>
    <div class="form-group">
		<label for="Title" class="form-label mt-4">제목</label>
      	<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="title">
		<label class="form-label" for="disabledInput">작성자</label>
		<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input writer(user)" disabled="">
	    <label class="form-label" for="disabledInput">게시일</label>
	    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input Date" disabled="">
		<label for="content" class="form-label mt-4">내용</label>
		<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      	<label for="formFile" class="form-label mt-4">첨부파일</label>
      	<input class="form-control" type="file" id="formFile">
    </div>     
    
    <button type="submit" class="btn btn-primary">게시</button>
    <button type="reset" class="btn btn-secondary">재작성</button>
    <button type="submit" class="btn btn-primary">목록</button>
  </fieldset>
</form>
</div>
</html>