<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
	<table class="table table-hover">
	  <thead>
	    <tr class="table-primary">
	      <th scope="col">번호</th>
	      <th scope="col">도서명</th>
	      <th scope="col">출판사</th>
	      <th scope="col">저자</th>
	      <th scope="col">삭제</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr scope="row">
	      <td>1</td>
	      <td>title</td>
	      <td>publisher</td>
	      <td>author</td>
	      <td>X</td>
	    </tr>
	    <tr scope="row">
	      <td>2</td>
	      <td>title</td>
	      <td>publisher</td>
	      <td>author</td>
	      <td>X</td>
	    </tr>
	    <tr scope="row">
	      <td>3</td>
	      <td>title</td>
	      <td>publisher</td>
	      <td>author</td>
	      <td>X</td>
	    </tr>
	    <tr scope="row">
	      <td>4</td>
	      <td>title</td>
	      <td>publisher</td>
	      <td>author</td>
	      <td>X</td>
	    </tr>
	  </tbody>
	</table>
</div>

</html>